/* A diferença entre padding para o margin :  padding é um dos estilos de preenchimento do CSS dentro dos limites do conteúdo, enquanto o margin é um espaçamento*/

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
}

.page {
    width: 900px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}


/* Uma pseudoclasse :hover corresponde quando o usuário designa um elemento com um dispositivo apontador, mas não necessariamente o ativo.*/

a {
    text-decoration: none;
    color: #1F1534;
}

ul li a {
    opacity: 0.5;
}

ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

h1,
ul {
    font-family: 'Mulish', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;
    font-weight: normal;
    width: 490px;
}

h1 span {
    color: #89C5CC;
    font-weight: bold;
}

section p {
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    margin: 40px 0;
}

button {
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    background: #69B99D;
    border: 0;
    border-radius: 4px;
    padding: 14px 32px 15px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

button:hover {
    background: #3a745f;
}

footer {
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}

footer a {
    font-weight: bold;
}

#bolls {
    position: fixed;
    right: 0;
    bottom: 0;
}